# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Environment Variables
.env
.env.*

# Database
db.sqlite3
*.sqlite3

# Node
node_modules/
frontend/node_modules/
.next/
out/

# IDE
.vscode/
.idea/

# Build Files
staticfiles/
media/

# OS
.DS_Store
Thumbs.db
